.main-header {
  background-image: var(--redGradient);
}

.bg-pattern {
  background-position-x: 25%;
  background-position-y: 53%;
  background-image: url("../src/assets/images/bg-pattern-intro-desktop.svg");
}

@media screen and (max-width: 992px) {
  .bg-pattern {
    background-position-x: 35%;
    background-position-y: 38%;
    background-image: url("../src/assets/images/bg-pattern-intro-mobile.svg");
  }
}

.white-btn {
  width: 135px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  color: var(--lightRed);
  transition: 0.3s;
}
.white-btn:hover {
  background-color: var(--veryLightRed);
  color: white;
}

.outline-btn {
  width: 135px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px white;
  color: white;
  transition: 0.3s;
}

.outline-btn:hover {
  background-color: white;
  color: var(--veryLightRed);
}

.sign-up-btn {
  color: white;
  background-image: var(--redGradient);
  width: 135px;
  height: 50px;
  border-radius: 50px;
}
