main p {
  color: var(--veryDarkGrayishBlue);
  letter-spacing: 0.5px;
}

main h3 {
  font-size: 25px;
  margin: 20px 0 20px 0;
  color: var(--veryDarkBlue);
  line-height: 1.8rem;
}

.blue-section {
  background-image: var(--blueGradient);
}

main h4 {
  font-size: 38px;
  margin: 20px 0 20px 0;
  color: var(--white);
}

.bg-pattern-section {
  background-image: url("../src/assets/images/bg-pattern-circles.svg");
  background-position-y: 85%;
  background-position-x: -55%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .bg-pattern-section {
    background-position-y: -200px;
    background-position-x: 50%;
    background-size: cover;
  }
}
